# Secrets
.env

# OpenHAB - ignore userdata except jsondb
openhab/userdata/*
!openhab/userdata/jsondb/
openhab/userdata/jsondb/*
!openhab/userdata/jsondb/uicomponents_ui_page.json
!openhab/userdata/jsondb/automation_rules.json

homegear/logs/
backups/
*.tar.gz
homegear-backup.tar.gz

# Homegear db
homegear/data/*

# Homegear - ignore db
homegear/admin-ui/
homegear/node-blue/
homegear/ui/
homegear/web-ssh/
homegear/www/
homegear/modules/
homegear/scripts/
homegear/defaultRoles.json
homegear/db.sql*
homegear/config/devices/*/
