services:
  openhab:
    image: openhab/openhab:latest
    container_name: openhab
    restart: unless-stopped
    network_mode: host
    devices:
      # Aeotec Z-Stick 7 (Z-Wave)
      - /dev/serial/by-id/usb-Silicon_Labs_CP2102N_USB_to_UART_Bridge_Controller_1c80343ba979ed11b998d50ffef7b791-if00-port0:/dev/zwave
    volumes:
      - ./openhab/conf:/openhab/conf
      - ./openhab/userdata:/openhab/userdata
      - ./openhab/addons:/openhab/addons
    environment:
      - USER_ID=1000
      - GROUP_ID=1000
      - OPENHAB_HTTP_PORT=8080
      - OPENHAB_HTTPS_PORT=8443
      - TZ=Europe/Berlin
      # Hue Bridge IP
      - HUE_BRIDGE_IP=192.168.1.33
    # privileged: true  # Nicht nötig für OpenHAB

  # Homegear für EnOcean - später aktivieren wenn OpenHAB läuft
  # homegear:
  #   image: homegear/homegear:latest
  #   container_name: homegear
  #   restart: unless-stopped
  #   network_mode: host
  #   devices:
  #     # EnOcean USB Stick (CP2102N)
  #     - /dev/serial/by-id/usb-Silicon_Labs_CP2102N_USB_to_UART_Bridge_Controller_1c80343ba979ed11b998d50ffef7b791-if00-port0:/dev/enocean
  #   volumes:
  #     - ./homegear/config:/etc/homegear
  #     - ./homegear/data:/var/lib/homegear
  #     - ./homegear/logs:/var/log/homegear
  #   environment:
  #     - TZ=Europe/Berlin
