services:
  openhab:
    image: openhab/openhab:latest
    container_name: openhab
    restart: unless-stopped
    network_mode: host
    env_file:
      - .env
    devices:
      # Aeotec Z-Stick 7 (Z-Wave)
      - /dev/serial/by-id/usb-Silicon_Labs_CP2102N_USB_to_UART_Bridge_Controller_1c80343ba979ed11b998d50ffef7b791-if00-port0:/dev/zwave
    volumes:
      - ./openhab/conf:/openhab/conf
      - ./openhab/userdata:/openhab/userdata
      - ./openhab/addons:/openhab/addons
    environment:
      - USER_ID=1000
      - GROUP_ID=1000
      - OPENHAB_HTTP_PORT=8080
      - OPENHAB_HTTPS_PORT=8443
      - TZ=Europe/Berlin
    # privileged: true  # Nicht nötig für OpenHAB

  homegear:
    image: homegear/homegear:latest
    container_name: homegear
    restart: unless-stopped
    network_mode: host
    devices:
      # EnOcean USB300 Stick (FTDI FT232R)
      - /dev/serial/by-id/usb-FTDI_FT232R_USB_UART_A600I0TU-if00-port0:/dev/ttyUSB0
    volumes:
      - ./homegear/config:/etc/homegear
      - ./homegear/data:/var/lib/homegear
      - ./homegear/logs:/var/log/homegear
    environment:
      - USER_ID=1000
      - GROUP_ID=1000
      - TZ=Europe/Berlin
