version: '3.7'

services:
  openhab:
    image: openhab/openhab:latest
    container_name: openhab
    restart: unless-stopped
    network_mode: host
    volumes:
      - ./openhab/conf:/openhab/conf
      - ./openhab/userdata:/openhab/userdata
      - ./openhab/addons:/openhab/addons
    environment:
      - USER_ID=9001
      - GROUP_ID=9001
      - OPENHAB_HTTP_PORT=8080
      - OPENHAB_HTTPS_PORT=8443
      - TZ=Europe/Berlin
    privileged: true

  homegear:
    image: homegear/homegear:latest
    container_name: homegear
    restart: unless-stopped
    network_mode: host
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
    volumes:
      - ./homegear/config:/etc/homegear
      - ./homegear/data:/var/lib/homegear
      - ./homegear/logs:/var/log/homegear
    environment:
      - TZ=Europe/Berlin
